# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.pt
venv/
.venv/

# Node
node_modules/
dist/
build/
.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Claude AI internal settings
.claude/

# Generated Complaint PDFs
backend/generated_pdfs/

# Server Logs
backend/server.log
backend/server_err.log
frontend/vite*.log
